.checkout {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 3%;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .checkout {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.checkout h4 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
}
@media (max-width: 1920px) {
  .checkout h4 {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1920px) {
  .checkout h4 {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1920));
  }
}
.checkout input[type=text],
.checkout textarea {
  border: 1px solid #B3B3B3;
  border-radius: 20px;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
}
@media (max-width: 1920px) {
  .checkout input[type=text],
.checkout textarea {
    border-radius: calc(5px + 15 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1920px) {
  .checkout input[type=text],
.checkout textarea {
    height: calc(32px + 28 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1920px) {
  .checkout input[type=text],
.checkout textarea {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1920));
  }
}
.checkout textarea {
  height: 120px;
}
@media (max-width: 1920px) {
  .checkout textarea {
    height: calc(60px + 60 * ((100vw - 320px) / 1920));
  }
}
.checkout label {
  display: block;
  line-height: 170%;
  color: rgba(0, 0, 0, 0.8);
}
.checkout section {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .checkout__details {
    order: 2;
  }
}
.checkout__details h4.m0 {
  margin-bottom: 5px;
  margin-top: 30px;
}
.checkout__details .part {
  gap: 24px;
}
@media (max-width: 1920px) {
  .checkout__details .part {
    gap: calc(8px + 16 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 992px) {
  .checkout__order {
    order: 1;
  }
}

.part__item {
  flex: 1 1 auto;
}

#adressSecond {
  margin-top: 20px;
}

.checkout__item-text h5 {
  font-weight: 400;
  font-size: 18px;
  padding-right: 8px;
  width: 100%;
}
@media (max-width: 1920px) {
  .checkout__item-text h5 {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1920));
  }
}
.checkout__item-text .checkout__counter {
  margin-left: 10px;
  margin-right: 10px;
}
.checkout__item-text .checkout__counter p,
.checkout__item-text .checkout__counter span {
  padding: 10px;
}
.checkout__item-text .checkout__counter span {
  cursor: pointer;
}
@media (max-width: 420px) {
  .checkout__item-text .checkout__counter {
    flex: 1 1 auto;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .checkout__item-text .checkout__counter p, .checkout__item-text .checkout__counter span {
    padding: 16px;
    font-size: 18px;
  }
}

.checkout__item-img {
  position: relative;
  width: 100%;
  height: 120px;
}
@media (max-width: 1920px) {
  .checkout__item-img {
    height: calc(50px + 70 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 420px) {
  .checkout__item-img {
    height: 140px;
  }
}
.checkout__item-img .main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.checkout__order-item {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  gap: 12px;
  margin-bottom: 10px;
}
@media (max-width: 420px) {
  .checkout__order-item {
    grid-template-columns: 0.4fr 0.6fr;
    margin-bottom: 24px;
  }
}

.checkout__order-net, .checkout__order-net-wr {
  cursor: pointer;
  height: 250px;
}
@media (max-width: 420px) {
  .checkout__order-net, .checkout__order-net-wr {
    height: 300px;
  }
}

.checkout__price {
  margin-top: 20px;
  background-color: #FAFAFA;
}
.checkout__price h5 {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 1920px) {
  .checkout__price h5 {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1920));
  }
}
.checkout__price h6 {
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 1920px) {
  .checkout__price h6 {
    font-size: calc(15px + 7 * ((100vw - 320px) / 1920));
  }
}

.checkout__price-subtotal,
.checkout__price-total,
.checkout__price-shipping,
.checkout__types-item {
  border: 1px solid rgba(71, 71, 69, 0.3);
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1920px) {
  .checkout__price-subtotal,
.checkout__price-total,
.checkout__price-shipping,
.checkout__types-item {
    padding-top: calc(12px + 24 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1920px) {
  .checkout__price-subtotal,
.checkout__price-total,
.checkout__price-shipping,
.checkout__types-item {
    padding-bottom: calc(12px + 24 * ((100vw - 320px) / 1920));
  }
}

.checkout__price-shipping {
  border-top: none;
  border-bottom: 1px solid none;
}

.checkout__price-shipping section {
  margin-bottom: 0;
}
.checkout__price-shipping h6 {
  margin-bottom: 16px;
}
.checkout__price-shipping label {
  display: inline-block;
  margin-left: 8px;
}

.checkout__types {
  margin: 20px 0;
  background-color: #FAFAFA;
}

.checkout__types-item {
  display: flex;
  justify-content: flex-start;
}
.checkout__types-item input {
  cursor: pointer;
}
.checkout__types-item label {
  margin-left: 8px;
}
.checkout__types-item p {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 130%;
  font-size: 16px;
  margin-left: 8px;
}
@media (max-width: 1920px) {
  .checkout__types-item p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1920));
  }
}

.checkout__types-item:nth-child(2) {
  border-top: none;
  border-bottom: none;
}

.type-1 input {
  margin-top: 6px;
}

.checkout__button {
  display: block;
  color: #fff;
  background-color: #474745;
  border-radius: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: all 0.3s linear;
}
@media (max-width: 1920px) {
  .checkout__button {
    border-radius: calc(5px + 10 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1920px) {
  .checkout__button {
    padding-top: calc(12px + 12 * ((100vw - 320px) / 1920));
  }
}
@media (max-width: 1920px) {
  .checkout__button {
    padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1920));
  }
}
@media (any-hover: hover) {
  .checkout__button:hover {
    transition: all 0.3s linear;
    background-color: #33332e;
  }
}
.checkout__button span {
  font-weight: 700;
}

@media (max-width: 992px) {
  .pc-version {
    display: none;
  }
}

.mobile-version {
  display: none;
}
@media (max-width: 992px) {
  .mobile-version {
    display: block;
  }
}

@media (max-width: 420px) {
  .top {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 100%;
    height: 100%;
  }
}

.price {
  font-weight: 500;
}
@media (max-width: 420px) {
  .price {
    font-size: 18px;
  }
}

.product__stockQuantity {
  color: #fff;
  background-color: #292929;
  padding: 4px 8px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s linear;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin-top: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1920px) {
  .product__stockQuantity {
    font-size: calc(11px + 4 * ((100vw - 320px) / 1920));
  }
}

.checkout__item-text {
  display: flex;
  flex-direction: column;
}
.checkout__item-text .top {
  flex: 1 1 auto;
}

.product__stockQuantity-price {
  gap: 4px;
}
.product__stockQuantity-price .old {
  color: rgba(111, 108, 108, 0.7960784314);
  position: relative;
  display: inline-block;
  font-weight: 400;
}
.product__stockQuantity-price .old:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(111, 108, 108, 0.7960784314);
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-18deg);
}
.product__stockQuantity-price .new {
  font-weight: 700;
}