	@import '../../Sass/mixin.scss';




	.checkout {

		display: grid;
		grid-template-columns: 0.5fr 0.5fr;
		@include adaptiv-value(gap,32,16,1);
		
		margin-bottom: 40px;
		margin-top: 20px;

		@media (max-width: 992px){
			grid-template-columns: 1fr;
			gap: 20px;
		}

		
		.drawer__item-modules{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

			@media (max-width: 767px){
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}
			
			@media (max-width: 600px){
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

			@media (max-width: 420px){
				grid-template-columns: 1fr 1fr 1fr;
			}
			





			
			
		}
		

	.shoppingCart__main-characteristicts-net{
		margin-bottom: 0px;
		margin-top: 0px;
		@include adaptiv-value(font-size,18,14,1);

		img{
			width: 24px;
			height: 24px;
		}
	}	
		
	.drawer__item-configutations-body{
			padding-top: 0;
			padding-bottom: 0;

			
	}

	.drawer__item-configutations{
		margin-bottom: 5px;


		
		section{
			margin-bottom: 8px;
		}
	}

	.configutation-item:first-child{
		margin-top: 10px;
	}

		h4 {
			font-weight: 700;
			@include adaptiv-value(font-size, 32, 18, 1);
			@include adaptiv-value(margin-bottom, 40, 20, 1);
		}

		input[type="text"],
		textarea {
			border: 1px solid #B3B3B3;
			@include adaptiv-value(border-radius, 20, 5, 1);
			@include adaptiv-value(height, 60, 32, 1);
			width: 100%;
			padding-left: 10px;
			@include adaptiv-value(font-size, 18, 14, 1);

		}


		input.invalid{
			border: 1px solid red;
		}

		textarea {
			@include adaptiv-value(height, 120, 60, 1);
			padding-top: 10px;
		}

		label {
			display: block;
			line-height: 170%;
			color: rgba(0, 0, 0, 0.8);
		}

		section {
			margin-bottom: 20px;
		}
	}

	.checkout__details {

		@media (max-width: 992px){
			order: 2;
		}
		

		h4.m0 {
			margin-bottom: 5px;
			margin-top: 30px;
		}


		.part {
			@include adaptiv-value(gap, 24, 8, 1);

		}
	}

	.checkout__order {
		@media (max-width: 992px){
			order: 1;
		}
		
	}

	.part__item {
		flex: 1 1 auto;
	}

	#adressSecond {
		margin-top: 20px;
	}

	.checkout__item-text {

		h5 {
			font-weight: 400;
			@include adaptiv-value(font-size, 18, 14, 1);
			padding-right: 8px;
			width: 100%;
		}


		
		.checkout__counter {
			margin-left: 10px;
			margin-right: 10px;

		

			
			p,
			span {
				padding: 10px;
			}

			span {
				cursor: pointer;
			}


			@media (max-width: 420px){
				flex: 1 1 auto;
				height: 100%;
				margin-left: 0;
				margin-right: 0;
	
				p,span{
					padding: 16px;
					font-size: 18px;
				}
			}

			

		}

		
	}



	.checkout__item-img {
		position: relative;
		width: 100%;
		@include adaptiv-value(height, 150, 80, 1);

		@media (max-width: 420px){
			height: 140px;
		}
		
		.main {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			object-fit: cover;
			height: 100%;
		}

		
	}

	.checkout__order-item {
		display: grid;
		grid-template-columns: 0.2fr 0.8fr;
		gap: 12px;

	
		@media (max-width: 420px){
			grid-template-columns: 0.4fr 0.6fr;
			margin-bottom: 24px;
		}
		
	}

	.checkout__order-item-wr{
		margin-bottom: 27px;
		border-bottom: 1px solid #c5c5c5;
	}

	



	.checkout__order-net,.checkout__order-net-wr {
		cursor: pointer;
		height: 400px;

		@media (max-width: 420px){
			height: 500px;
		}
		
	}


	.checkout__price {
		margin-top: 20px;
		background-color: #FAFAFA;

		h5 {
			@include adaptiv-value(font-size, 24, 16, 1);
			font-weight: 400;
		}

		h6 {
			@include adaptiv-value(font-size, 22, 15, 1);
			font-weight: 400;
		}
	}


	.checkout__price-subtotal,
	.checkout__price-total,
	.checkout__price-shipping,
	.checkout__types-item
	 {
		border: 1px solid rgba(71, 71, 69, 0.3);
		@include adaptiv-value(padding-top, 36, 12, 1);
		@include adaptiv-value(padding-bottom, 36, 12, 1);
		padding-left: 10px;
		padding-right: 10px;
	}

	.checkout__price-shipping {
		border-top: none;
		border-bottom: 1px solid none;
	}




	.checkout__price-shipping {

		section {
			margin-bottom: 0;
		}

		h6 {
			margin-bottom: 16px;
		}

		label {
			display: inline-block;
			margin-left: 8px;
		}

		
	}

	.checkout__types {
		margin: 20px 0;
		background-color: #FAFAFA;
	}


	.checkout__types-item {
		display: flex;
		justify-content: flex-start;
		

		input {
			cursor: pointer;
		}

		label {
			cursor: pointer;
			padding-left: 8px;
		}

		p {
			margin-top: 8px;
	      color : rgba(0, 0, 0, 0.8);
			line-height: 130%;
			@include adaptiv-value(font-size,16,14,1);
			margin-left: 8px;
			
		}
	}
	.checkout__types-item:nth-child(2){
		border-top: none;
		border-bottom: none;
	}

	.type-1{
		input{
			margin-top: 6px;
		}
	}


	.checkout__button{
		display: block;
		color: #fff;
		background-color: #474745;
		@include adaptiv-value(border-radius,15,5,1);
		@include adaptiv-value(padding-top,24,12,1);
		@include adaptiv-value(padding-bottom,24,12,1);
		transition: all 0.3s linear;
		font-size: 16px;
		
		@media(any-hover: hover){&:hover{
				transition: all 0.3s linear;
				background-color: #33332e;
		}}
		
		
		span{
			font-weight: 700;
		}
	}

	.pc-version{
		@media (max-width: 992px){
			display: none;
		}
		
	}

	.mobile-version{
			display: none;
			@media (max-width: 992px){
				display: block;
			}
			
	}

	.top{
		@media (max-width: 420px){
			flex-direction: column;
			align-items: flex-start !important;
			justify-content: flex-start !important;
			width: 100%;
			height: 100%;
		}
		
	}

	.price {
		font-weight: 500;
		@media (max-width: 420px){
			font-size: 18px;
		}
		
	}


.product__stockQuantity{
	color: #fff;
	background-color: #292929;
	padding: 4px 8px;
	font-weight: 500;
	display: inline-block;
	transition: all 0.3s linear;
	border-radius: 5px;
	@include adaptiv-value(font-size,15,11,1);
	text-align: center;
	margin-top: 8px;
	margin-bottom: 5px;
	width: fit-content;
	}

	.checkout__item-text{
		display: flex;
		flex-direction: column;
	}

	.product__stockQuantity-price{
		gap: 4px;


		.old{
			color: #6f6c6ccb;
	position: relative;
	display: inline-block;
	font-weight: 400;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: #6f6c6ccb;
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(-18deg);
	}
		}

		.new{
			font-weight: 700;
		}
	}

	.checkout__button{
		transition: all 0.3s linear;
	}

	.checkout__button:disabled{
		transition: all 0.3s linear;	
		opacity: 0.4;
		cursor: default;
	}

	.border-bottom{
			border-bottom: 1px solid rgba(71, 71, 69, 0.3) !important;
	}

	.modal-checkout{
			cursor: pointer;
			.modal__body{
				max-width: 420px;
				text-align: center;
				
				margin-left: 4%;
				margin-right: 4%;
				line-height: 140%;
				padding: 20px 10px;


				@media (max-width: 767px){
					padding: 10px 5px;
				}
				

				h4{
					margin-bottom: 0;
					line-height: 140%;
				}
			}
	}

	.drawer__item-modules-more-information{
			img{
				cursor: pointer;
			}
	}